{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "jest",
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": [
      "error", { "allowAfterThis": true }
    ]
  },
  "globals": {
    "navigator": true,
    "fetch": true
  }
}